<nav aria-label="{{ aria_label }}">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if page_obj.has_previous %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">Previous</a>
    </li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">{{ page_obj.number }}</a>
    </li>
    <li class="page-item {% if page_obj.has_next %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Next</a>
    </li>
  </ul>
</nav>
